@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');




* {
    text-decoration: none;
    border: none;
}

body {
    margin: 0;
    padding: 0;
    background: #dfdfdf;
    box-sizing: border-box;
    overflow-x: hidden;
    /* font-family: "Oswald", sans-serif; */
    font-family: "Titillium-web", sans-serif;
    font-weight: 700;    
    /* letter-spacing: 1px; */
}
    
p {
    color: var(--third-text-color);
    font-weight: 500;
}

.cancel {
    text-decoration: line-through;
}

:root {
    --primary-color: #0761f2;
    --primary2-color: #011a42;
    --bg-color: #0bfd5b;
    --second-bg-color: #beb2b2;
    --first-text-color: #fff;
    --second-text-color: #f1eae9;
    --third-text-color: #4b4a4a;
    --fourth-text-color: #f7d1d1ca;
    --main-color: #2a02db;
    --nav-color: #0f5dd3;
    --nav2-color:#171175;
    --btn-color: #17301d;
    --btn2-color: #020274;
    --btn3-color: #e21818;
    --shadow: 1px 1px 1px #000;
    --box-shadow2: rgb(0 0 2 / 35%) 0px 20px 30px -10px;
}

.social-link .whatsapp:hover {
    color: #fff;
    background: #02dc0d;
}

.social-link .facebook:hover {
    color: #fff;
    background: #0502d4;
}

.social-link .youtube:hover {
    color: #c30000;
    background: #fff;
}

.social-link .instagram:hover {
    color: #fff;
    background: linear-gradient(to bottom right, #0202e2, #e201d3, #e20000, #e7e702);
}

/* header section */

/* main nav */
.main-nav {
    width: 100%;
    background: #e7f9ec;
    z-index: 99;
}
.main-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 70px;
    margin: 0 auto;
}

.fixy {
    position: fixed;
    top: 0;
    border-bottom: 5px solid var(--main-color);
    background: #e7f9ec;
    transition: 1s;
}

.logo {
    color: var(--main-color);
    font-weight: 600;
    font-size: 28px;
    text-shadow: var(--shadow);
    transition: .5s;
}

.logo:hover {
    transform: scale(1.1);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navbar a {
    color: var(--nav-color);
    font-size: 19px;
    position: relative;
    transition: .5s;
}

.navbar a.active {
    color: var(--btn-color);
}

.navbar a::after {
    content: "";
    width: 0;
    height: 3px;
    display: block;
    margin: auto;
    margin-top: 4px;
    background-color: var(--primary2-color);
    border-radius: 8px;
    transition: all 0.4s ease;
}

.navbar a:hover:after {
    width: 100%;
}

.navbar a:hover {
    color: var(--nav2-color);
}

.navbar-dropdown {
    display: block;
    position: relative;
}

.navbar-dropdown a i {
    font-size: 8px;
}

.navbar-dropdown .dropdown {
    display: none;
    position: absolute;
    /* top: 50px; */
    background: #e7f9ec;
    border-radius: 10px;
    height: 180px;
    text-align: right;
}

.navbar-dropdown:hover .dropdown {
    display: block;
    z-index: 100;
}

.navbar-dropdown .dropdown ul {
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 30px;
}

.navbar-dropdown .dropdown ul li {
    list-style: none;
    display: flex;
    padding-bottom: 30px;
}

.navbar-dropdown .dropdown ul li a{
    margin: 0;
    width: 250px;
}

.main-nav-container .open-menu{
    display: none;
}
.main-nav-container .open-menu i {
    font-size: 30px;
}

.btn {
    background: var(--nav-color);
    border-radius: 5px;
    padding: 7px 10px;
    font-size: 15px;
    color: var(--nav-color);
    transition: .5s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--nav2-color);
    color: var(--first-text-color);
    transform: scale(1.1);
}



/* header image  */

.header-image {
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/Building.jpg);
    width: 100%;
    height: 70vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-image h1 {
    font-size: 2rem;
    color: var(--second-text-color);
    font-family: "Vidaloka", serif;
    font-weight: 900;
}


/* our mission and vission section starts */

.vision-mission {
    padding: 70px 0;
}

.address h2,
.mission h2,
.vision h2 {
    font-family: "Vidaloka", serif;
    font-weight: 900;
    color: var(--nav-color);
}

.vision-mission-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    text-align: justify;
    width: 80%;
    margin: 0 auto;
}

.vision-mission-content {
    width: 60%;
}

.vision-mission-content .address h2{
    margin-top: 0;
}

.vision-width {
    width: 40%;
}

.vision-img {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

.vision-img img {
    width: 100%;
    height: 100%;
}


/* board member */

.board-header {
    text-align: center;
    padding: 0 0 50px 0;
    color: var(--main-color);
}
.board-header p {
    color: var(--nav2-color);
    font-weight: 700;
}

.board-header h3 {
    color: var(--nav2-color);
}

.board-member,
.founders-note {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 80%;
    padding-bottom: 80px;
    margin: 0 auto;
}

.board-img {
    width: 60%;
    background-color: #4eabb551;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.board-img h3{
    color: var(--nav2-color);
    text-align: center;
}

.board-img img {
    width: 90%;
    height: 100%;
    object-fit: cover;
}

.board-member-content,
.founders-note-content {
    width: 50%;
}

.board-member-content h1,
.founders-note-content h1 {
    text-align: center;
    color: var(--main-color);

}
.board-member-content p,
.founders-note-content p {
    text-align: justify;
}





/* Academics section */

.academics-section {
    padding: 70px 0;
}

.academics {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 70%;
    margin: 0 auto;
}

.academics-image {
    width: 50%;
}

.academics-content {
    width: 50%;
    text-align: justify;
}

.academics-image img {
    width: 430px;
    height: 304px;
}

.academics h2 {
    color: rgb(180, 7, 7);
    font-size: 30px;
    font-family: "Vidaloka", serif;
    font-weight: 900;
}

.academics p {
    font-size: 14px;
}


/* line section */
.line-section {
    background-color: rgb(131, 91, 11);
    height: 5em;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.line-section hr {
    height: 6px;
    width: 100%;
    background-color: #829b05;
    border: 2px solid #1eb7c2;
}

.line-section::before {
    content: '';
    height: 13px;
    width: 13px;
    position: absolute;
    left: 400px;
    background-color: #f13405;
    border: 5px double #fff;
    transform: rotate(133deg);
}

.line-section::after {
    content: '';
    height: 13px;
    width: 13px;
    position: absolute;
    right: 400px;
    background-color: #f13405;
    border: 5px double #fff;
    transform: rotate(133deg);
}


/* admmission section starts */

.admission-form {
    padding: 50px 20px;
}

.admission p {
    text-align: justify;
}
.admission h1 {
    color: var(--main-color);
}

.form-group-admin {
    width: 90%;
    margin: 0 auto 20px;
}

.form-group-admin label {
    color: var(--nav2-color);
}

.form-group-admin .radio-label{
    color: var(--third-text-color);
}

.form-group-admin label span {
    color: var(--main-color);
    font-size: 1.3rem;
}

.form-control {
    width: 100%;
    height: 2rem;
    border: 2px solid #656363;
    border-radius: 5px;
    background-color: #efecec;
}

.inline-part {
    display: flex;
    gap: 20px;
}

.date-w {
    width: 70%;
}

.gender-w {
    width: 30%;
}

.form-control:focus {
    border: 3px solid var(--main-color);
    outline: none;
}

.form-btn2 {
    text-align: center;
}
.form-btn2 .btn {
    color: #fff;
    padding: 15px;
    border-radius: 25px;
}

/* courses section */

.courses {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 60px;
}

.courses h1 {
    color: var(--main-color);
}

.courses h3 {
    color: var(--nav-color);
}

.courses-header {
    text-align: center;
    padding: 50px 0;

}

.courses-content h1 {
    text-align: center;
}

.courses-curriculums li {
    color: #797373;
}

.courses-content-wrapper {
    display: flex;
    justify-content: center;
}

.courses-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.courses-images .img1 {
    width: 400px;
    height: 300px;
}

.courses-images .img2 {
    width: 400px;
    height: 400px;
}

.courses-content-wrapper .c-width1 {
    width: 50%;
}

.courses-content-wrapper .c-width2 {
    width: 50%;
}


/* image gallery section */


.image-gallery {
    padding: 80px 0;
}

.image-gallery h1 {
    text-align: center;
    font-size: 37px;
    color: var(--main-color);
    margin: 0 0 50px 0;
    font-family: "Vidaloka", serif;
    font-weight: 900;
}

.image-gallery-main {
    width: 85%;
    margin: 0 auto;
    box-shadow: 0 0 5px #000;
}

.image-gallery-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-gallery-wrapper img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

.image-gallery-wrapper > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.image-gallery-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 250px;
    grid-auto-flow: dense;
}

.image-gallery-container .tall {
    grid-row: span 2;
}
.image-gallery-container .wide {
    grid-column: span 2;
}
.image-gallery-container .big {
    grid-column: span 2;
    grid-row: span 2;
}


/* Contact */

.contact {
    margin: 100px 0;
}

.section-title {
    text-align: center;
    margin-bottom:40px;
    color: #e70404;
}

.section-title h3{
    color: #9e0f0f;
    margin: 0;
}

.section-title h4{
    color: var(--btn-color);
    margin: 0;
}

.contact-info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 60px;
}

.contact-info-item1 {
    text-align: center;
}

.contact-info-item1 i {
    font-size: 25px;
    color: #e70404 !important;
}

.contact-info-item1 p {
    color: #353333;
    font-weight: 100;
    margin: 0;
}

.second-section-title {
    text-align: center;
    margin: 60px 0 40px 0;
    color: var(--main-color);
}

.second-section-title h3 {
    color: #9e0f0f;
}

.second-section-title h4 {
    color: var(--btn-color);
}

.contact-form {
    width: 70%;
    margin: 0 auto;
}

.contact-form input[type=text], 
.contact-form input[type=email],
.contact-form .form-group textarea {
    padding-left: 20px; 
    color: #fff;
}
  
.contact-form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.contact-form-group .form-group {
    width: 100%;
}

.contact-form input::placeholder, 
.contact-form textarea::placeholder {
    color: #fff;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    border-radius: 25px;
    padding: 18px 0;
    background: var(--third-text-color); 
    border: 1px solid ;
    margin: 10px 0;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border: 3px solid var(--main-color);
    outline: none;
}

.contact-form textarea {
    height: 70px;
    resize: none;
}

.form-btn {
    text-align: right;
}
.form-btn .btn {
    color: #fff;
    padding: 15px;
    border-radius: 25px;
}



/* footer section */

.footer {
    background-color: #1c1b1b;
    display: flex;
    align-items: center;
    border-top: 1px solid #414040;
}

.footer-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    color: #fff;
}

.footer-about-us {
    width: 25%;
}

.footer-about-us h2,
.footer-more-info h2,
.footer-about-us-links h2,
.footer-contact h2{
    font-family: "Vidaloka", serif;
    font-weight: 900;
}

.footer-about-us p{
    font-size: 12px;
    line-height: 19px;
    text-align: justify;
    color: #929c92;
}

.footer-more-info {
    line-height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.footer-more-info img{
    width: 150px;
    background-color: #fff;
    border-radius: 10px;
}

.footer-about-us-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-about-us-links a{
    color: #929c92;
}

.footer-about-us-links a:hover{
    color: #eff5ef;
}

.social-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.social-link a {
    color: #fff;
    margin-right: 8px;
    border-radius: 50%;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #565a77;
    transition: .2s;
}

.contact-info {
    margin-bottom: 15px;
}

.contact-info i {
    color: var(--nav-color);
    padding-right: 7px;
}

.footer-content span {
    font-size: 13px;
    color: var(--third-text-color);
}

.footer-content span:hover {
    color: var(--first-text-color);
    cursor: pointer;
}

.footer-text p {
    font-size: 13px;
    color: var(--second-text-color);
}

.second-footer {
    padding: 15px;
    background: rgb(19, 19, 19);
    text-align: center;
    border-top: 1px solid #fff;
}










/* media query */
@media (max-width: 1203px) {
    .main-nav-container .open-menu{
        display: block;
    }
    .navbar {
        display: none;
    }
    .menu-position {
        position: relative;
    }
    .navbar.open-nav-menu {
        display: block;
        position: absolute;
        top: 60px;
        right: 0;
        height: 82vh;
        width: 200px;
        background: #e7f9ec;
        z-index: 20;
        text-align: center;
        box-shadow: -1px 1px 10px grey;
    }
    .navbar.open-nav-menu::after {
        content: '';
        position: absolute;
        top: -11px;
        left: 0;
        width: 100%;
        height: 14px;
        background: #e7f9ec;
    }
    .navbar div {
        padding: 15px 0;
    }
    .navbar-dropdown .dropdown {
        right: 10rem;
        box-shadow: -1px 1px 10px grey;
    }
    .academics {
        flex-wrap: wrap;
        width: 100%;
    }
    .academics-image img {
        width: 100%;
    }
}

@media (max-width: 1138px) {
    .navbar a {
        font-size: 17px;
    }
    .board-member {
        align-items: flex-start;
    }
}
@media (max-width: 1045px) {
    .footer-about-us {
        width: 80%;
    }
}

@media (max-width: 958px) {
    .vision-mission {
        padding: 30px 0;
    }
    .vision-mission-content, .vision-width {
        width: 90%;
    }
    .vision-mission-wrapper{
        flex-wrap: wrap;
        gap: 20px;
        width: 95%;
    }
    .board {
        font-size: 14px;
    }
    .courses-content-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .courses-content-wrapper .c-width1 {
        width: 100%;
    }
    .courses-content-wrapper .c-width2 {
        width: 100%;
    }
    .contact-form-group {
        flex-wrap: wrap;
        gap: 0;
    }
}  
@media (max-width: 849px) {
    .board-member,
    .founders-note {
        flex-direction: column;
        align-items: center;
        width: 95%;
    }
    .board-img {
        width: 85%;
    }
    .board-member-content,
    .founders-note-content {
        width: 80%;
    }
    .founders-note-content {
        order: 2;
    }
    .academics-image {
        width: 90%;
    }
    .academics-content {
        width: 90%;
    }
    .contact-info-wrapper {
        justify-content: center;
        gap: 40px;
    }
    .contact {
        margin: 50px 0;
    }
}

@media (max-width: 708px) {
    .image-gallery-container {
        grid-template-columns: 1fr;
    }
    
    .image-gallery-container .tall {
        grid-row: span 1;
    }
    .image-gallery-container .wide {
        grid-column: span 1;
    }
    .image-gallery-container .big {
        grid-column: span 1;
        grid-row: span 1;
    }
}

@media (max-width: 588px) {
    .admission-form {
        padding: 20px 5%;
    }
    .form-group-admin {
        width: 100%;
    }
    
    .inline-part {
        flex-direction: column;
    }
}  
@media (max-width: 513px) {
    .line-section::before {
        left: 100px;
    }

    .line-section::after {
        right: 100px;
    } 
    .contact {
        margin: 30px 0;
    }
}  
@media (max-width: 482px) {
    .courses-images .img1 {
        width: 300px;
        height: 200px;
    }
    
    .courses-images .img2 {
        width: 300px;
        height: 400px;
    }
} 
@media (max-width: 347px) {
    .courses-images .img1 {
        width: 280px;
        height: 180px;
    }
    
    .courses-images .img2 {
        width: 280px;
        height: 380px;
    }
} 